h2{
    font-variant: 20;
    color: red;
}
h3{
    font-variant: 20;
    color: blue;
}
h4{
    font-variant: 20; 
    color: aquamarine;
}
        
    
    
    
    
}
h5{
    font-variant: 20;
    color: red;

}
