*{
    margin: 0;
    padding: 0;

}
.container{
    width: 1000px;
    margin: 0 auto;
}
.container .header{
    background-image: url(bg\ asm2.jpg);
    height: 231px;
    background-repeat: no-repeat;
    position: relative;
}

.container .header img{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 85%;

}
.menu{
    min-height: 40px;
    background-color: antiquewhite;
}
.menu ul{
    list-style: none;
    background-color: blue;
    text-align: center;
    border-radius: 5px;

}
.menu ul li{
    display: inline-block;
    position: relative;
}
.menu ul li a{
    display: block;
    text-decoration: none;
    font-variant: small-caps;
    font-size: large;
    color: white;
    padding: 0 10px;
    line-height: 40px;
}
.menu ul ul{
    position: absolute;
    display: none;
    list-style: none;
    width: 200px;
    box-shadow: 0 0 2px gray;
    background-color: white;
    border-radius: 3px;
    text-align: left;
}
.menu ul ul li{
    display: block;
}
.menu ul ul a{
    display: block;
    color: black;
    background-color: red;
} 
.menu ul ul a:hover{
    color: blue;
    background-color: red;
}
marquee{
    line-height: 25px;
    min-height: 25px;
    z-index: -1;

}
.content{
    width: 100%;
    height: auto;
    min-height: 800px;

}
.content article{
    width: 75%;
    float: left;
    background-color: red;
    min-height: 800px;
}
.content aside{
    width: 25%;
    float: right;
    background-color: ;
    min-height: 800px;
}
footer{
    clear: both;
    min-height: 50px;
    background-color:red ;
    text-align: center;
    line-height: 50px;
    border-top: 1px dotted red ;
}